/SpringTransactions/target/
/MockitoExamples/*.iml
/MockitoExamples/.idea
/Patterns/*.iml
/Patterns/target
/Patterns/.idea
/Regexp/.idea
/Regexp/target
/Regexp/*.iml
/GWT/UiBinder/.idea
/GWT/UiBinder/.settings
/GWT/UiBinder/target
/GWT/UiBinder/appTest-prod.launch
/GWT/UiBinder/.classpath
/GWT/UiBinder/.project
/GWT/UiBinder/appTest-dev.launch
/CrudExample/.settings
/CrudExample/.project
/CrudExample/.classpath
/MockitoExamples/target
/JpaExamples/.idea
/JpaExamples/*.iml
/JpaExamples/target
/JpaExamples/*.iml
/GWT/Editor/.idea
/GWT/Editor/EditorTest-prod.launch
/GWT/Editor/.settings
/GWT/Editor/target
/GWT/Editor/.classpath
/GWT/Editor/.project
/GWT/Editor/Editor.iml
/GWT/Editor/EditorTest-dev.launch
/GWT/RPC/.project
/GWT/RPC/RPC.iml
/GWT/RPC/rpcTest-dev.launch
/GWT/RPC/rpcTest-prod.launch
/GWT/RPC/.idea
/GWT/RPC/.settings
/GWT/RPC/target
/GWT/RPC/.classpath
/GWT/UiBinder/UiBinder.iml
